[submodule "accelergy-timeloop-infrastructure"]
	path = accelergy-timeloop-infrastructure
	url = git@github.com:Accelergy-Project/accelergy-timeloop-infrastructure.git
[submodule "timeloop-accelergy-exercises"]
	path = timeloop-accelergy-exercises
	url = git@github.com:Accelergy-Project/timeloop-accelergy-exercises.git
